@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}


.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	margin: 5px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

.button {
	display: flex;
	overflow: hidden;
  
	margin: 10px;
	padding: 12px 12px;
  
	cursor: pointer;
	user-select: none;
	transition: all 150ms linear;
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	text-transform: none;
	text-transform: capitalize;
  
	color: #fff;
	border: 0 none;
	border-radius: var(--borderRadius);
  
	font-size: 13px;
	font-weight: 500;
	line-height: 1.3;
  
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
   
	justify-content: center;
	align-items: center;
	flex: 0 0 160px;
	
	box-shadow: 2px 5px 10px var(--color-smoke);
  
	&:hover {
	  transition: all 150ms linear;
  
	  opacity: .85;
	}
	
	&:active {
	  transition: all 150ms linear;
	  opacity: .75;
	}
	
	&:focus {
	  outline: 1px dotted #959595;
	  outline-offset: -4px;
	}
  }

  .button-container {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}
  
  .button.-regular {
	border-radius: 5%;
	color: #202129;
	background-color: #acacac;
	
	&:hover {
	  color: #202129;
	  background-color: #e1e2e2;
	  opacity: 1;
	}
	
	&:active {
	  background-color: #d5d6d6;
	  opacity: 1;
	}
  }




@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}