.containerContador{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;


}

.contentContador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 0, 249);
    width: 947px;
    height: 391px;

}

.contador{
    font-size: 90px;
    font-weight: 800;
}


.contador1{
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    margin-right: 40px;
}


.texto{
    line-height: 0.4em;
    font-weight: 700;
    align-self: center;
    color: white;
    font-size: 35px;
    font-weight: normal;   
}